<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>F (1).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{342,682},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (10).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{342,1206},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (11).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1546,604},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (2).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{944,342},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (3).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (4).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (5).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (6).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (7).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (8).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
            <key>F (9).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,600}}</string>
                <key>sourceSize</key>
                <string>{338,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>F1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14be119fa65bd4e46f96e721a86b79d6:1/1$</string>
            <key>textureFileName</key>
            <string>F1.png</string>
        </dict>
    </dict>
</plist>
