<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackGround.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>BaseLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,998},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>CharHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2002},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2002},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2002},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>Clouds.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{784,994}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,994}}</string>
                <key>sourceSize</key>
                <string>{784,994}</string>
            </dict>
            <key>Continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2002},{120,37}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{120,37}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>DiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,686},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>Game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1640},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>Game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,998},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>Jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2028},{15,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{15,91}}</string>
                <key>sourceSize</key>
                <string>{23,103}</string>
            </dict>
            <key>LeftDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2024},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>LingMeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,686},{168,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,320}}</string>
                <key>sourceSize</key>
                <string>{168,320}</string>
            </dict>
            <key>MoLiSha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{183,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,320}}</string>
                <key>sourceSize</key>
                <string>{183,320}</string>
            </dict>
            <key>NoOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,64},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>NoOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,64},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2044},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>OffNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2044},{1,1}}</string>
                <key>offset</key>
                <string>{-27,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>On.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>OnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,121},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,856},{360,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,120}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>Quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2002},{124,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{124,37}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>RightDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2002},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>Score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,364},{360,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,160}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>Setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>StageLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2024},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>StageLeftSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2002},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>StageRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2024},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>StageRightSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2002},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>YouMeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{176,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,320}}</string>
                <key>sourceSize</key>
                <string>{176,320}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,324},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2041},{280,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,5}}</string>
                <key>sourceSize</key>
                <string>{280,5}</string>
            </dict>
            <key>hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2002},{40,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,5}}</string>
                <key>sourceSize</key>
                <string>{40,5}</string>
            </dict>
            <key>kago.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2002},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Back.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c16e8239e8267de9f16f4251b337911:1/1$</string>
            <key>textureFileName</key>
            <string>Back.png</string>
        </dict>
    </dict>
</plist>
